.mainFxmlClass {
    -fx-font-size: 18pt;
    -fx-font-family: "Tahoma";
    -fx-background: #66FF66;
}

.button {
    -fx-background-color: #FF66FF;
    -fx-base: #ffe6ff;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
.button:hover{
    -fx-background-color: #FF99FF;
}

.slider{
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}

#mainlabel-label {
    -fx-font-size: 32pt;
    -fx-font-family: "Arial Black";
}

#readout-label {
    -fx-font-size: 24pt;
}

